!!!5
html(lang="en")
  head
    link(rel='stylesheet', href='/css/main.css')
    //link(rel='stylesheet', href='/css/pink.css')
  body(class="#{ current }")
    img.harp-logo(src="/img/harp-3.png")
    .hero
      h1 The<br /> promise<br /> of the<br /> web<br />